.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(0, 198, 255);
  background: linear-gradient(
    324deg,
    rgba(0, 198, 255, 0.49) 53%,
    rgba(232, 86, 86, 1) 56%
  );
  font-family: "Rubik", sans-serif;
  color: #78909c;
}
